/* ===========================================================================*/
/* global styles */
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Nunito:ital,wght@0,400;1,300&family=Roboto:ital,wght@0,100;0,400;0,500;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,700;1,100;1,500&display=swap");
@import "bootstrap/dist/css/bootstrap.min.css";

* {
  /* resets default browser settings to zero */
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-collapse: collapse;

  /* sets global font */
  font-family: "Lato", sans-serif;

  /* font-family: "Alegreya Sans", sans-serif; */

  /* fixes issue of bold text not displaying correctly on Google Chrome */
  -webkit-font-smoothing: antialiased;

  /* ensures that viewport is 100% after changing orientation, by telling browser not to adjust text size */
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  /* 
  --h1: 26px;
  --h2: 24px;
  --h3: 22px;
  --h4: 20px;
  --h5: 18px;
  --h6: 16px;
  --p: 18px;
  --footer: 14px;

  --two: 2px;
  --four: 4px;
  --six: 6px;
  --eight: 8px;
  --ten: 10px;
  --twelve: 12px; */

  /* uses materialize colors */
  --lime: #cddc39;
  --lime-darken-1: #c0ca33;
  --lime-darken-2: #afb42b;
  --lime-darken-3: #9e9d24;
  --lime-darken-4: #827717;
  --red: #f44336;
  --red-darken-4: #b71c1c;
  --green: #4caf50;
  --green-darken-4: #1b5e20;
  --brown: #795548;
  --brown-darken-2: #5d4037;
  --brown-darken-4: #3e2723;
  --blue: #2196f3;
  --blue-darken-2: #0288d1;
  --blue-darken-4: #0d47a1;
  --blue-grey-lighten-4: #cfd8dc;
  --blue-grey: #607d8b;
  --blue-grey-darken-4: #263238;
}

html,
body {
  /* pushes footer to bottom of viewport */
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.text-link {
  text-decoration: none;
}

/* .container {
  margin: 0 5%;
} */

.container-flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.collapseContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: #383737;
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}

h6 {
  text-align: left;
}
p {
  font-weight: 400;
}

.hidden {
  display: none;
}
.mt-20 {
  margin-top: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}

/* color theme settings */
.admin-color {
  color: var(--blue-darken-4);
}
.admin-bg {
  background-color: var(--blue-darken-4);
}
/* .user-color {
  color: var(--lime-darken-2);
}
.user-bg {
  background-color: var(--lime-darken-2);
}
.admin-footer {
  background-color: var(--blue);
}
.user-footer {
  background-color: var(--lime-darken-1);
} */
/* ===========================================================================*/
/* =================== starts xs (<= 768px) - phone styles ================== */
/* header styles */
/* nav styles */

/* ===========================================================================*/
/* hero styles */

/* ===========================================================================*/
/* main styles */
#contacts {
  text-align: center;
}
#contacts button {
  width: 80%;
  font-family: "Alegreya Sans", sans-serif;
  padding: 0.6rem 1rem !important;
  margin: 2rem auto !important;
  text-decoration: none !important;
  border-radius: none;
  transition: ease-in-out 0.2s;
  cursor: pointer;
  background: rgb(130, 246, 165);
  background: linear-gradient(
    90deg,
    rgba(130, 246, 165, 1) 50%,
    rgba(147, 238, 169, 1) 100%
  );
  box-shadow: 2px 1px 39px 6px rgba(186, 201, 227, 0.55);
}
#contacts button:hover {
  color: white;
  box-shadow: 2px 1px 9px 0px rgba(186, 201, 227, 0.75);
  transform: scale(1.01);
  background: rgb(130, 246, 165);
  background: linear-gradient(
    90deg,
    rgba(130, 246, 165, 1) 50%,
    rgba(147, 238, 169, 1) 100%
  );
}
input,
textarea {
  width: 100%;
  border: 1px solid #d6dbdf;
  padding: 0.4rem;
  margin: 1rem 0;
  border-radius: 0.1rem;
}
.black-font {
  color: #000000;
}
main h1 {
  font-size: var(--h1);
  line-height: 5rem;
  text-transform: uppercase;
}
main h2 {
  font-size: var(--h2);
  line-height: 3rem;
  color: var(--lime-darken-3);
}
main h3 {
  font-size: var(--h3);
  line-height: 3rem;
  color: var(--lime-darken-3);
}
main h3:nth-of-type(n + 2) {
  margin-top: 40px;
}
#admin h3 {
  color: var(--blue-darken-4);
}
main h4 {
  font-size: var(--h4);
  line-height: 2.5rem;
}
main h3 + main h4 {
  margin-top: 0;
}
main h5 {
  font-size: var(--h5);
  line-height: 2rem;
  color: var(--lime-darken-3);
}
main h5:nth-of-type(n + 2) {
  margin-top: 20px;
}
main h4 + main h5 {
  margin-top: 0;
}
main h6 {
  font-size: var(--h6);
  line-height: 2rem;
}
main p {
  font-size: var(--p);
  line-height: 2rem;
}

/* #breeds .label,
.breed-labels {
  margin: 10px 10px;
  padding: 0 10px;
  border-radius: 10px;
  background-color: var(--lime-darken-4);
  color: white !important;
  font-size: var(--h3);
  font-weight: 700;
  text-align: center;
}

.breed-labels:hover {
  cursor: pointer;
} */

/* #dog button {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 0px 20px;
  font-size: var(--h3);
  font-weight: 700;
  background-color: var(--lime-darken-2);
  color: white;
  border-radius: 10px;
} */
#admin ul {
  list-style-type: none;
}
#admin ul li {
  height: 50px;
  background-color: var(--blue-darken-2);
  color: white;
  margin: 10px 0;
  border-radius: 5px;
  padding: 10px;
  font-weight: 700;
  text-align: center;
}

#admin button {
  margin-bottom: 40px;
}

#admin label {
  margin-top: 30px;
  margin-bottom: 5px;
  font-weight: 700;
}
#admin select,
#admin input {
  margin: 0;
}

.label-wrapper {
  border: solid grey 1px;
  margin: 20px 0;
  padding: 20px;
  height: 300px;
}

.temperaments {
  overflow-y: scroll;
}

.temperaments label {
  display: inline;
  width: 80%;
}

.temperaments input {
  display: inline;
  width: 20%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-container article {
  margin: 20px 0;
  width: 100%;
}

/* ===========================================================================*/
/* footer styles */
footer {
  /* margin-top: 40px; */
  padding: 10px 0;
}

footer p {
  text-align: center;
  color: white;
  font-size: var(--footer);
}

/* ========================================================================== */
/* ==================== ends xs (<= 768px) - phone styles =================== */

/* ================ starts sm (768px < 992px) tablets styles ================ */
@media screen and (min-width: 768px) {
  .fas {
    font-size: calc(var(--h3) + var(--two));
  }
  main h1 {
    font-size: calc(var(--h1) + var(--two));
  }
  main h2 {
    font-size: calc(var(--h2) + var(--two));
  }

  #breeds .label {
    width: 47.5%;
  }

  #breeds .label:nth-of-type(2) {
    margin-left: 5%;
  }

  #breeds .label,
  #dog button,
  main h3 {
    font-size: calc(var(--h3) + var(--two));
  }
  main h4 {
    font-size: calc(var(--h4) + var(--two));
  }
  main h5 {
    font-size: calc(var(--h5) + var(--two));
  }
  main h6 {
    font-size: calc(var(--h6) + var(--two));
  }
  main p {
    font-size: calc(var(--p) + var(--two));
  }
  .flex-container article {
    width: 50%;
  }
  .flex-container article:nth-of-type(odd) {
    padding-right: 2.5%;
  }
  .flex-container article:nth-of-type(even) {
    padding-left: 2.5%;
  }
  #admin {
    width: 768px;
    margin: 0 auto;
  }

  footer p {
    font-size: calc(var(--footer) + var(--two));
  }
}
/* ================= ends sm (768px < 992px) tablets styles ================= */

/* ============= starts md (992px < 1199px) small laptops styles ============ */
@media screen and (min-width: 992px) {
  .fas {
    font-size: calc(var(--h3) + var(--four));
    line-height: 60px;
  }
  main h1 {
    font-size: calc(var(--h1) + var(--four));
  }
  main h2 {
    font-size: calc(var(--h2) + var(--four));
  }
  #breeds .label,
  #dog button,
  main h3 {
    font-size: calc(var(--h3) + var(--four));
  }
  main h4 {
    font-size: calc(var(--h4) + var(--four));
  }
  main h5 {
    font-size: calc(var(--h5) + var(--four));
  }
  main h6 {
    font-size: calc(var(--h6) + var(--four));
  }
  main p {
    font-size: calc(var(--p) + var(--four));
    line-height: 2.5rem;
  }
  footer p {
    font-size: calc(var(--footer) + var(--four));
  }
}
/* ============== ends md (992px < 1199px) small laptops styles ============= */

/* ============= starts lg (>= 1200px) laptops & desktops styles ============ */
@media screen and (min-width: 1200px) {
  #logo {
    height: 50px;
    width: 50px;
  }

  .fas {
    font-size: calc(var(--h3) + var(--eight));
    line-height: 70px;
  }
  main h1 {
    font-size: calc(var(--h1) + var(--eight));
  }
  main h2 {
    font-size: calc(var(--h2) + var(--eight));
  }
  #breeds .label,
  #dog button,
  .main h3 {
    font-size: calc(var(--h3) + var(--eight));
  }
  main h4 {
    font-size: calc(var(--h4) + var(--eight));
  }
  main h5 {
    font-size: calc(var(--h5) + var(--eight));
  }
  main h6 {
    font-size: calc(var(--h6) + var(--eight));
  }
  main p {
    font-size: calc(var(--p) + var(--eight));
  }
  #breeds .label {
    width: 30%;
  }
  #breeds .label:nth-of-type(2) {
    margin-left: 0;
  }
  .flex-container article {
    width: 30%;
    padding: 0;
  }
  .flex-container article:nth-of-type(odd) {
    padding-right: 0;
  }
  .flex-container article:nth-of-type(even) {
    padding-left: 0;
  }
  footer p {
    font-size: calc(var(--footer) + var(--eight));
  }
}
/* ============== ends lg (>= 1200px) laptops & desktops styles ============= */
